sudo: required
language: node_js
notifications: 
  email: henrique-sds@live.com
node_js: 
- 10.16.0
services: 
- postgresql
env: 
  global:
  - NODE_ENV: test
  - TRAVIS: true
addons: 
  postgresql: '11.4'
before_script:
- sudo service postgresql restart
- psql -c 'create database ts_api_test;' -U Henrique
- npm i -g sequelize-cli gulp-cli
- cd server/
- sequelize db:migrate --env test
- npm install
- gulp 
script: 
- npm run unit-test
- npm run integration-test